body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dark{
  background:linear-gradient(115deg, #000000, #444444) !important;
  color: white !important;
}
.gold{
  color: rgb(218,165,32) !important;
}
.khaki{
  color: #F0E68C !important;
}
.goldengray{
  background-color: #353530 !important;
}
.title{
  font-size: 5vw;
}